body {
	background-image: url("../images/lilypads.png");
	background-size: cover;
	background-attachment: fixed;
}
.containerN {
	/* color: gray ; */
	background-color: white;
	float: left;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 35px;
	background-size: 50px;
	height: 75px;
	/* padding-left: 420px; */
	/* display: inline-block; */
}
.nav-item {
	color: gray;
	background-color: white;
	float: left;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 35px;
	background-size: 50px;
	height: 75px;
	scroll-padding-left: 300px;
	/* padding-left: 123px;  */
}
header {
	float: left;
	height: 75px;
	background-color: #4aaaa5;
	background-size: 50px;
	color: white;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 50px;
	/* padding-right: 123x;
	padding-right: 123px; */
	/* border-right: 123px; */
	margin-right: 123px;
}
.title {
	color: #4aaaa5;
	font-size: 35px;
	float: left;
}
.container {
	padding-top: 30px;
	width: 960px;
	/* background-color: white; */
	/* margin: 0px; */
	/* padding-top: 30px; */
	width: 960px;
	/* background-color: white; */
	/* margin: 0px; */
	/* width: auto; */
	background-color: white;
	margin: 45px;
	float: left;
	margin-left: 85px;
}
.fixed-bottom{
	color: white;
	text-align: center;
	background-color: gray;
	/* position: bottom;
	position: relative; */
	/* position: bottom; */
	
}
<!--start of index css > 
img {
	float: left;
}
.info {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

<--! Start css for contact > 
.form-group {
	width: 960px;
	float: left;
}
button {
	background-color: #4aaaa5;
	color: white;
	height: 50px;
	width: 70px;
	font-size: 19px;
	margin-left: 309px;
}

.down {
	display: block;
	font-size: 25px;
	padding-top: 25px;
}

.size {
	height: 250px;
	width: 880px;
	margin-bottom: 25px;
}

.test {
	height: 25px;
	width: 880px;
}

.button {
	height: 35px;
	width: 60px;
	/* padding-left: 550px; */
	/* padding-top: 25px; */
}

<--! start css for portfolio> 
.imageContainer {
	width: 200px;
	height: 200px;
	background-image: url(assets/images/baby.JPG);
}
.image2 {
	position: relative;
	/* width: 50%; */
	/* float: left; */
}

.words {
	position: absolute;
	position: bottom;
	/* top: 350px;  */
	bottom: 5px;
	left: 0;
	width: 250px;
	color: white;
	background-color: #4aaaa5;
	font-size: 30px;
}
